{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3>Enter 0-base Index of preferred choice </h3>
  <hr>
  <form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    <div class="row">
      <div class="form-group">
        {{ wtf.form_field(form.index_value, class='form-control', placeholder='Index') }}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Search Index</button>
  </form>
  <hr>
  <div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Establishment Id</th>
          <th scope="col">Establishment Name</th>
          <th scope="col">Address</th>
          <th scope="col">Office Name</th>
        </tr>
      </thead>
      <tbody>
        {% for i in all_company_data %}
        <tr>
          <th scope="row">{{ loop.index0 }}</th>
          <td>{{i[0]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <hr><br><br>
  </div>
</div>
{% endblock %}
