{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div>
        <h3>COMPANY INFORMATION</h3><br>
        <table class="table table-hover">
            <tbody>
                {% for key, value in company_details.items() %}
                <tr>
                    <td><b> {{ key }} </b></td>
                    <td> {{ value }} </td>
                </tr>
               {% endfor %}
            
            </tbody>
          </table>
          <br>
        <h3>EMPLOYEE DETAILS</h3><br>
        <h4>Employee Name: {{employee_name}}</h4>
        <br>
        <table class="table table-hover">
            <tbody>
                {% for key, value in employee_details.items() %}
                {% if key!='details' %}
                    <tr>
                        <td><b> {{ key }} </b></td>
                        <td> {{ value }} </td>
                    </tr>
                {% endif %}
               {% endfor %}
            </tbody>
        </table>
        <br>
        <table class="table table-hover">
            <h4>Company History:</h4>    <br>
            <thead>
                <tr>
                  <th scope="col">Month-Year</th>
                  <th scope="col">Amount Paid by Company</th>
                  <th scope="col">No. of Employees</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in employee_details.items() %}
                    {% if key=='details' %}
                        {% for i in value %}
                        <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
               {% endfor %}

            </tbody>
        </table>

    <hr>
    <h3>Company Growth</h3>
    <h4>The pension fund investment gave you an average return of <b>{{cagr}}%</b> per annum</h4>
    </div>
    <br>
    <form action="" method="post" class="form" role="form">
    <button type="submit" class="btn btn-primary">Home</button>
    </form>
    <br><br>

</div>
{% endblock %}